{% include "header.html" %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/contact.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title></title>
  </head>
  <body>
    <main>
      <div class="title">Contact us</div>
      <div class="title-info">We'll get back to you soon!</div>

      <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="input-group">
          <input
            type="text"
            name="first_name"
            id="first-name"
            placeholder="First name"
          />
          <label for="first-name">First name</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="last_name"
            id="last-name"
            placeholder="Last Name"
          />
          <label for="last-name">Last name</label>
        </div>

        <div class="input-group">
          <input type="email" name="e-mail" id="e-mail" placeholder="e-mail" />
          <label for="e-mail">e-mail</label>
        </div>

        <div class="textarea-group">
          <textarea
            name="message"
            id="message"
            rows="5"
            placeholder="Message"
          ></textarea>
          <label for="message">Message</label>
        </div>

        <div class="button-div">
          <button type="submit">Send</button>
        </div>
        <div class="textarea-group">
          <input value="{{output}}" rows="5" placeholder="Message sent" />
          <label for="viewmessage">Message send to admin</label>
        </div>
      </form>
    </main>
  </body>
</html>
{% comment %} {% include "footer.html" %} {% endcomment %}
